:root {
  --primary-color: #474bff;
  --secondary-color: #fbfbfb;
}

@font-face {
  font-family: PoetsenOne;
  src: url("assets/font/PoetsenOne-Regular.ttf");
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: PoetsenOne !important;
  scrollbar-color: var(--primary-color) transparent;
}

[hidden] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  touch-action: none !important;
  user-select: none !important;
}
